<div class="page" xmlns="http://www.w3.org/1999/html">
    <body background="http://i.stack.imgur.com/spmUM.gif"></body>
    <h1>Curriculum vitae:</h1>
    <img id="mePic" src="http://i.giphy.com/UdL5HRau1NbgI.gif" alt="text">
    <div>Name : Georgy Hristov</div>
    <div></div>
    <div>Email : <a href="mailto:hristovsotirovgeorgi@gmail.com">MailMe! @ </a>hristovsotirovgeorgi@gmail.com</div>
    <div></div>
    <div>GitHub: <a href="https://github.com/gohv/">https://github.com/gohv/</a></div>
    <div></div>


    <h2><u>Work Experience:</u></h2>
    <div><u>1 Dec 2013– 1 March 2016:</u></div>
    <div><u>IT Support / Back Office Support</u></div>
    <div> Processflows UK, Sofia (Bulgaria)</div>
    <a href="http://processflows.co.uk/"></a>
    <ul>
        <li>Working in a small self-managed team on shifts - covering the business 24/7</li>
        <li>Providing Tier/Level 1 and 2 technical support for Cloud based Windows Server/ Citrix Solutions.</li>
        <li>Working closely with higher level Technical engineers.</li>
        <li>Working daily with Active Directory and MS Exchange Server.</li>
        <li>Website Administrator on ITIL Courses</li>
    </ul>
    <hr>

    <div><u>1 Mar 2013–1 Dec 2013:</u></div>
    <div><u>Database Administrator</u></div>
    <div> Ingram Micro LTD, Sofia (Bulgaria)</div>
    <a href="http://www.ingrammicro.com/"></a>
    <ul>
        <li>Working with the below databases:</li>
        <li>SAP NETWEAVER</li>
        <li>SQL based Databases</li>
        <li>BMC Remedy</li>
    </ul>
    <hr>

    <div><u>1 Dec 2011–1 Mar 2013:</u></div>
    <div><u>Computer systems analyst</u></div>
    <div> C3i Inc., Sofia (Bulgaria)</div>
    <a href="http://www.c3ihc.com/"></a>
    <ul>
        <h3>
            <li>Remote IT Support at Shire Pharmaceuticals</li>
        </h3>
        <li>Shire Pharmaceuticals, Sofia (Bulgaria)</li>
        <a href="https://www.shire.com/"></a>
        <li>Providing comprehensive technical support in English</li>
        <li>Responsible for processing incoming customers' requests and keeping detailed logs in ticketing system of all
            interactions while observing company quality and customer satisfactionstandards and policies are adhered to.
        </li>
        <li>Troubleshooting and remote support of Siebel CRM systems, Microsoft Office 2003/2007/2010 and Windows
            XP/iPad/laptop/handheld devices.
        </li>
    </ul>
    <ul>
        <h3>
            <li>Remote IT Support at Novo Nordisk A/S</li>
        </h3>
        <li>Shire Pharmaceuticals, Sofia (Bulgaria)</li>
        <a href="http://www.novonordisk.com/"></a>
        <li>Providing comprehensive technical support in English</li>
        <li>Responsible for processing incoming customers' requests and keeping detailed logs in ticketing system of all
            interactions while observing company quality and customer satisfactionstandards and policies are adhered to.
        </li>
        <li>Troubleshooting and remote support of Siebel CRM systems, Microsoft Office 2003/2007/2010 and Windows
            XP/iPad/laptop/handheld devices.
        </li>
    </ul>
    <hr>
    <h2><u>EDUCATION AND TRAINING:</u></h2>
    <div><u>15 Oct 2008–15 Jul 2012</u></div>
    <div><b>Bachelor Degree in English Philology</b></div>
    <div><i>South-West University of Blagoevgrad, Blagoevgrad (Bulgaria)</i></div>
    <pre></pre>
    <div><u>24 Jan 2016–1 Apr 2016</u></div>
    <img id="pragmatic" src="http://pragmatic.bg/wp-content/uploads/2012/11/2016-01-22_1709.png" alt="text">
    <div><b>Programming with JAVA (Foundation Level)</b></div>
    <div><i>Pragmatic It Learning and Outsourcing Center, Sofia (Bulgaria)</i></div>
    <a href="http://pragmatic.bg/"></a>
    <ul>
        <li>Polymorphism , encapsulation, Inheritance</li>
        <li>Class Fundamentals</li>
        <li>Constructors and methods</li>
        <li>java.io</li>
        <li>java GUI : Swing</li>
        <li>Functional Interfaces</li>
        <li>Exception Handling</li>
    </ul>
    <hr>

    <div><u>03 May 2016–31 May 2016</u></div>
    <img id="pragmatic" src="https://hackbulgaria.com/static/website_images/hackbulgaria_logo.png" alt="text">
    <div><b>Programming with JAVA (Foundation Level)</b></div>
    <div><i>Pragmatic It Learning and Outsourcing Center, Sofia (Bulgaria)</i></div>
    <a href="http://pragmatic.bg/"></a>
    <ul>
        <li>Threading</li>
        <li>Complexity analysis</li>
        <li>Searching algorithm</li>
        <li>Sorting algorithm</li>
        <li>Graph</li>
    </ul>
    <pre></pre>
    <div>Please check some of my project by clicking on My Projects:</div>
    <form action="/projects" method="get">
        <button>My Projects</button>
    </form>
    <hr>

    <h2><u>PERSONAL SKILLS:</u></h2>
    <div><u>Mother tongue</u></div>
    <div>Bulgarian</div>
    <pre></pre>
    <div><u>Other language(s)</u></div>
    <div><u>English</u> C2 – Bachelor Degree in English Philology</div>
    <pre></pre>
    <div><u>Communication skills</u></div>
    <div>Good ability to adapt to multicultural environments, gained through my work experience in the USA</div>
    <pre></pre>
    <div><u>Organisational / managerial skills</u></div>
    <ul>
        <li>Team Player: Experienced in working in a team of 20 people working together on related IT tickets</li>
        <li>Experience in working within a small self-managed team</li>
    </ul>
    <div><u>Job-related skills</u></div>
    <ul>
        <li>Source Tree</li>
        <li>Eclipse</li>
        <li>GitHub</li>
        <li>Git Shell</li>
        <li>Git for Windows</li>
        <li>Currently studying Android Studio</li>
        <li>Outlook Configuration</li>
        <li>Microsoft server - 2008, 2012</li>
        <li>Active Directory</li>
        <li>Exchange 2010, 2013</li>
        <li>Ticket handling over various ticketing systems</li>
        <li>Windows networking</li>
        <li>Cisco VPN</li>
        <li>ITIL Foundation Certification</li>


    </ul>


    <form action="/" method="get">
        <button>Back to main</button>
</form>

{{> base.hbs }}