<h1>Disclaimer:</h1>
<div>First of all, I am not a web developer. I cannot make good looking websites</div>
<div>I am stating this as a defence to this little website I have made</div>
<div>This website has the sole purpose of showing my skills as a java - backend developer</div>

<h2>About me:</h2>
<div>My name is Georgy.</div>
<div>I have been working as a IT support for 6 years</div>
<div>The first company that hire me is C3i Healthcare</div>
<div>I started off as a level 1 technical support and slowly made my way towards more responsibilities within the team
</div>
<form action="/" method="get">
    <button>Back to main?</button>
</form>

{{> base.hbs }}